
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>checkout</h2>

@*@if (TempData["cart"]! = null)
{

            }
            else
            {
                <h3 style=" color:red">Cart is empty</h3>
                @Html.ActionLink("Back","Index", "User");
            }*@

